---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import getArticles from "../queries/getArticles";

const articles = await getArticles();
---

<Layout title="Welcome to Astro.">
  <main class="max-w-screen-2xl mx-auto">
    <ul class="grid grid-cols-3 gap-8">
      {
        articles.map((article) => (
          <Card
            description={article.description}
            image={article.image}
            title={article.title}
            url={article.url}
          />
        ))
      }
    </ul>
  </main>
</Layout>
